<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">

    <mat-toolbar color="primary">Abinitio</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item color="primary" [routerLink]="['/competitions']">Competition</a>
      <a mat-list-item [routerLink]="['/departments']">Departments</a>
      <a mat-list-item [routerLink]="['/clubs']">Clubs</a>
      <a mat-list-item [routerLink]="['/contact-us']">Contact Us</a>
      <a mat-list-item [routerLink]="['/about-us']">About Us</a>
      <a mat-list-item [routerLink]="['/faq']">FAQ's</a>

      <span class="spacer"></span>

      <a mat-list-item [routerLink]="['/faq']">adminLogin</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>


      <span><a [routerLink]="['/']">Abinitio</a></span>

      <span class="spacer"></span>

      <button mat-button> <a mat-list-item [routerLink]="['/competitions']" *ngIf="!(isHandset$ | async)">Competitions</a> </button>
      <button mat-button> <a mat-list-item [routerLink]="['/departments']" *ngIf="!(isHandset$ | async)">Departments</a> </button>
      <button mat-button> <a mat-list-item [routerLink]="['/clubs']" *ngIf="!(isHandset$ | async)">Clubs</a> </button>

      <button mat-button [matMenuTriggerFor]="moreMenu" *ngIf="!(isHandset$ | async)">
        <span class="mat-button-wrapper"> More
          <mat-icon  role="img" aria-hidden="true">arrow_drop_down</mat-icon>
        </span>
      </button>

      <mat-menu #moreMenu="matMenu" xPosition="before">
        <a mat-menu-item matRipple [routerLink]="['/contact-us']" *ngIf="!(isHandset$ | async)">Contact Us</a>
        <a mat-menu-item matRipple [routerLink]="['/about-us']" *ngIf="!(isHandset$ | async)">About Us</a>
        <a mat-menu-item matRipple [routerLink]="['/faq']" *ngIf="!(isHandset$ | async)">FAQ's</a>
      </mat-menu>

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
