<mat-card class="card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="header-image"></div> -->
    <mat-card-title>{{ department.name }}</mat-card-title>
    <mat-card-subtitle>Department subtitle</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="department.imagePath" alt="department.name">
  <mat-card-content>
    <p class="info">
      {{ department.shortDescription }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="info">VIEW</button>
  </mat-card-actions>
</mat-card>

