<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ competition.title }}</mat-card-title>
    <mat-card-subtitle>{{ competition.department }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p class="info">
      {{ competition.shortDescription }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="info">VIEW</button>
    <button mat-button class="info">REGISTER</button>
  </mat-card-actions>
</mat-card>

