<mat-card class="card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="header-image"></div> -->
    <mat-card-title>{{ club.name }}</mat-card-title>
    <mat-card-subtitle>{{ club.department }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="club.imagePath" [alt]="club.name">
  <mat-card-content>
    <p class="info">
      {{ club.shortDescription }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button class="info">VIEW</button>
  </mat-card-actions>
</mat-card>

