<div class="container">
    <mat-card>
      <form [formGroup]="form" (submit)="onSaveStudent()">

        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Student Name">
          <mat-error *ngIf="form.get('name').invalid">Invalid Name</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Department" formControlName="department">
            <mat-option *ngFor="let departmentName of departmentNames" [value]="departmentName">
              {{ departmentName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="rollNo" placeholder="Roll Number">
          <mat-error *ngIf="form.get('rollNo').invalid">Invalid Roll Number</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="mobNo" placeholder="Mobile No">
          <mat-error *ngIf="form.get('mobNo').invalid">Invalid Mobile Number</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="email" formControlName="email" placeholder="Email Id">
            <mat-error *ngIf="form.get('email').invalid">Invalid Email Id</mat-error>
        </mat-form-field>

        <div>
          <span class="spacer"></span>
          <button mat-raised-button color="accent" type="submit">Save</button>
        </div>

      </form>
    </mat-card>
  </div>
