mat-form-field {
  width: 100%;
  padding: 5px;
}

mat-card {
  width: 80%;
  max-width: 900px;
  min-width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.493);
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
}

spacer {
  flex: 1 1 auto;
}

.button {
  margin: 1rem;
}
